.imagenperfil {
border-radius: 50%;
border-style: double;
}


body {
  font-family: 'Titillium Web', sans-serif;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(198,218,222,1) 6%, rgba(0,212,255,1) 100%);
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}


.header {
  color: #0c161f;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #08090a;
}


label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
  }

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;

}

.card{
margin-left: 10px;
margin-right: 10px;
}


// footer


@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


.row-1 p{
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
    text-align: center;
    color: #2CB8FE;
}

h5{
    font-size: calc(16px + (22 - 16) * ((100vw - 360px) / (1600 - 360))) !important; 
}




.bottom-row{

    color: #1a8632;    
}

i{
    font-size: 25px !important;
    margin-left: calc(15px + (24 - 20) * ((100vw - 360px) / (1600 - 360))) !important;  
    cursor: pointer;
}

.fa-firefox{
    font-size: 19px !important  ;
    color: #000 !important;
    margin: 0 !important;
    cursor: pointer;
}
.description-img{
    color: 	#2CB8FE;
    cursor: pointer;
}

.logo{
    height:calc(70px + (100 - 70) * ((100vw - 360px) / (1600 - 360))) !important; 
    width: calc(90px + (134 - 90) * ((100vw - 360px) / (1600 - 360))) !important; 
} 

.mobile-img{
    width:  calc(200px + (234 - 200) * ((100vw - 360px) / (1600 - 360))) !important;  
    height:  calc(200px + (234 - 200) * ((100vw - 360px) / (1600 - 360))) !important;  
}

li{
    font-size: calc(30px + (18 - 15) * ((100vw - 360px) / (1600 - 360))) !important; 
}
.row-1{
    margin-bottom: calc(100px + (150 - 100) * ((100vw - 360px) / (1600 - 360))) !important; 

}


